body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.navigation{
    display: flex;
    max-width: 100%;
    min-height: 45px;
    align-items: center;
    text-align: center;
    background-color: rgb(32, 28, 28);
    top: 0;
    list-style: none;
}
.navigation ul{
    gap: 40px;
}
.navigation ul li a{
    color: white;
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 18px;
    font-size: 18px;
    transition: ease-in-out .4s;
}
#title{
    text-transform: uppercase;
    color: white;
    font-size: 32px;
    letter-spacing: 16px;
    text-align: center;
}
.navigation ul, li, a:hover{
    color: red;
}
h1{
    text-align: left;
    color: rgb(183, 255, 0);
    margin: 30px;
    font-size: 56px;
}
header{
    display: fixed;
    top: 0;
    text-align: center;
}
#title{
    text-decoration: none; 
}
a{
    text-decoration: none;
    color: wheat;
}
a:hover{
    color: blue;
}
.end{
    background-color: transparent;
    color: black;
    text-align: center;
}
.end a:hover{
    color: aquamarine;
}
.navigation .title{
    text-align: center;
}
button{
    background-color: aqua;
    border-radius: 30px;
    border: 0px;
    padding: 1rem;
    color: black;
}
button:hover{
    background-color: bisque;
}
body{
    background-image: url(/img/tools.jpg);
}
h2{
    color: #5cb914;
    font-size: 36px;
}
h3{
    color: #5cb914;
    font-size: 28px;
}
#bmi-img{
    width: 450px;
    margin-right: 300px;
    float: right;
}
.container{
    background-color: rgb(157, 105, 105);
}
label{
    font-weight: bold;
}